---
import Button from "@/components/ui/Button.astro";
import MaskIcon from "@/components/ui/icons/MaskIcon.astro";
import { icons } from "@/utils/icons";

interface Props {
  label: string;
}

const { label } = Astro.props;
---

<div class="dropdown" tabindex="-1">
  <Button variant="primary" type="button">
    {label}
    <span class="caret">
      <MaskIcon src={icons.mask("chevron-down")} />
    </span>
  </Button>
  <div class="dropdown-content">
    <slot />
  </div>
</div>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .caret {
    display: flex;
    align-items: center;
    margin-inline-start: var(--space-xs);
    transition: transform 0.2s ease;
  }

  .dropdown:focus-within .caret {
    transform: rotate(180deg);
  }

  .dropdown-content {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    margin-block-start: var(--space-2xs);
    min-width: 18rem;
    max-height: 25rem;
    overflow: hidden auto;
    padding: var(--space-xs);
    background: var(--card-color);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    z-index: var(--z-dropdown);
    display: flex;
    flex-direction: column;
    user-select: none;

    /* Hidden state */
    visibility: hidden;
    opacity: 0;
  }

  .dropdown:focus-within .dropdown-content {
    visibility: visible;
    opacity: 1;
  }
</style>
