---
import Layout from "@/layouts/Layout.astro";

import TitleCard from "@/components/ui/TitleCard.astro";
import ExternalResourceButton from "@/components/ui/ExternalResourceButton.astro";
import { createTInstance, getDirection, getLocale } from "@/i18n/utils";

import monericaLogo from "@/assets/images/monerica-logo.png";
import cryptwerkLogo from "@/assets/images/cryptwerk.jpg";

const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
const dir = getDirection(locale);
---

<Layout
  title={t("merchants.pageTitle")}
  description={t("merchants.heroSubtitle")}
>
  <TitleCard
    title={t("merchants.heroTitle")}
    subtitle={t("merchants.heroSubtitle")}
  />

  <div id="content">
    <p>
      {t("merchants.intro")}
    </p>

        <div class="button-container">
      <ExternalResourceButton
        href="https://cryptwerk.com/pay-with/xmr"
        title="Cryptwerk"
        subtitle={t("merchants.subtitles.cryptwerk")}
        logo={cryptwerkLogo}
        rtl={dir == "rtl"}
      />
      <ExternalResourceButton
        href="https://monerica.com/"
        title="Monerica"
        subtitle={t("merchants.subtitles.monerica")}
        logo={monericaLogo}
        rtl={dir == "rtl"}
      />
    </div>
  </div>
</Layout>

<style>
  #content {
    margin-top: 3rem;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  p {
    color: var(--paragraph-subtitle);
  }
</style>