---
import TitleCard from "@/components/ui/TitleCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
---

<Layout>
  <TitleCard title="Tag Index" subtitle="Browse blog posts by tags." />
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/blog/tags/${tag.toLowerCase().replace(/\s+/g, "-")}/`}>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
